<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- This bean definition will be overrided -->
    <bean id="myManualBean" class="java.util.concurrent.atomic.AtomicInteger"/>

    <bean id="fileEndpoint" class="org.apache.camel.component.file.FileEndpoint">
        <property name="file" value="/path/to/a/file"/>
    </bean>

</beans>
